*.png
.DS_Store
/Camera2Face/build/
/Camera2Face/dist/
/Final/Camera2Face/CMakeCache.txt
/Final/Camera2Face/CMakeFiles
/Test/Camera2Face/CMakeFiles
/Final/Camera2Face/#main.cpp#
/Final/Camera2Face/.#main.cpp
/Final/Camera2Face/CMakeLists.txt~
/Final/Camera2Face/Camera2Face
/Final/Camera2Face/cmake_install.cmake
/Test/Camera2Face/.dep.inc
/Test/Camera2Face/CMakeCache.txt
/Test/Camera2Face/CMakeLists.txt~
/Test/Camera2Face/Camera2Face
/Test/Camera2Face/Makefile
/Test/Camera2Face/cmake_install.cmake
/Test/Camera2Face/compile.sh
/Test/Camera2Face/haarcascade_frontalface_alt.xml
/Test/Camera2Face/main.cpp~
/Test/Final-Presentation.pptx
/Test/README.md
